@import filters.infoRepository;
@(info: infoRepository)
<!DOCTYPE html>

<html lang="en" class="no-js">
<!-- author: Navdeep Kaur Brar
The hashtagPage for twitter miner in which the latest ten tweets are displayed for the hashtag hyperlink which is clicked.
The css profileStyling is used to style the hashtagPage
import: The infoRepository is imported to get hashtag data and ten latest tweets to display in the page-->
    <head>
        <title>Twitter Miner - Hashtag (@info.getHashtag())</title>
        <!-- The css profileStyling is used to style the page-->
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/profileStyling.css")" />
        <!-- The jQuery js file to execute scripts and load data when page is rendered-->
        <script src="@routes.Assets.versioned("javascripts/jquery-3.3.1.min.js")"></script>
    </head>
    
    <body class="profilePage">
    <center><main class="profileDisplay">
        <div class="div1">
        <h1>Hashtag: @info.getHashtag()</h1>
            </main>
            </div>
            <div class="tweetsDisplay">
            <p class="head"><u>LATEST TEN TWEETS</u></p>
            
            <!-- The Latest ten tweets being displayed -->
            <ol>
            @for(tweet <- info.getTweetData()) {
                <li>@tweet </li><br>
                        }
                        </ol>
        </div>
        </main>
        </center>
    </body>
</html>

